<link rel="stylesheet" href="<%= assetPath('css/home.css')%>" />
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css')%>" />
<!-- <h1><%= title %></h1> -->

<div id="home-container">
  <section id="feed-posts">
    <% if(locals.user){ %>
      <h1>Welcome, <%= locals.user.name %> </h1>
    <% } else {%>
      <h1>Welcome To Codeial</h1>
    <%}%> 
    
    <% if(locals.user) {%>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        id="textarea"
        cols="30"
        rows="3"
        placeholder="Type Here..."
        required
      ></textarea>
      <input type="submit" value="Post" id="post-btn" />
    </form>
    <%}%>
    <div id="posts-list-container">
      <ul>
        <% for(post of posts){ %> 
          <%- include('_post.ejs') -%> 
        <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users) {%>
    <p id="friend">
      <a href="/users/profile/<%= u.id %>"><%=u.name%></a>
    </p>
    <%}%>
  </section>

  <% if(locals.user){ %>
  <button class="open-button" onclick="openForm()">Chat</button>
  <%}%>
  <%- include('_chat_box') -%>
</div>



<script src="<%= assetPath('js/home_post_comment.js')%>"></script>
<script src="<%= assetPath('js/home_posts.js')%>"></script>

<script src="<%= assetPath('js/toggle_likes.js')%>"></script>

<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });

  let openForm = ()=>{
    document.getElementById('user-chat-box').style.display='block';
  }

  let closeForm = ()=>{
    document.getElementById('user-chat-box').style.display = 'none';
  }
  
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js')%>"></script>

<% if(locals.user) {%>
<script>
  new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>
